@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary-100: ;
}

.slick-dots {
  bottom: 2px !important;
}

.slick-dots li {
  margin: 0 !important;
  width: 12px !important;
}

.slick-dots li button::before {
  opacity: 0.5 !important;
  color: white !important;
  font-size: 7px !important;
}
.slick-dots li.slick-active button:before {
  /* color: black !important; */
  opacity: 3 !important;
  font-size: 7px !important;
}